<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Car</title>
</head>
<body>
	<div align="center">	
		<h1>Create New Car</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${product}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Car Type:</td>
					<td><input type="text" th:field="*{type}" /></td>
				</tr>
				<tr>
					<td>Brand:</td>
					<td><input type="text" th:field="*{brand}" /></td>
				</tr>				
				<tr>
					<td>Car Reg No:</td>
					<td><input type="text" th:field="*{carRegNo}" /></td>
				</tr>				
				<tr>
					<td>Daily Rate:</td>
					<td><input type="text" th:field="*{dailyRate}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>